.admin-sidebar {

    width:250px;

    min-height:100vh;

    background:linear-gradient(
        180deg,
        #0047AB,
        #002855
    );

    color:white;

    position:sticky;

    top:0;

    left:0;

    padding-top:20px;

    box-shadow:
    4px 0 15px rgba(0,0,0,0.15);

}



/* Logo */

.admin-sidebar .logo {

    text-align:center;

    color:#FFD700;

    font-size:30px;

    font-weight:800;

    margin-bottom:35px;

    letter-spacing:1px;

}





/* Links */

.admin-sidebar .nav-link {

    color:#e5e7eb;

    padding:14px 22px;

    font-size:16px;

    display:flex;

    align-items:center;

    gap:12px;

    transition:0.3s ease;

    border-left:4px solid transparent;

}





/* Hover */

.admin-sidebar .nav-link:hover {


    background:rgba(255,215,0,0.15);

    color:#FFD700;

    border-left:4px solid #FFD700;


    transform:translateX(5px);

}





/* Active */

.admin-sidebar .nav-link.active {


    background:#fdd80a;

    color:#002855;

    border-left:4px solid white;

    font-weight:700;


}





/* Icons */

.admin-sidebar svg {

    font-size:19px;

}





/* Logout */

.admin-sidebar .nav-link:last-child {


    margin-top:40px;

    color:#FFD700;

}



.admin-sidebar .nav-link:last-child:hover {


    background:#b91c1c;

    color:white;

}