.forgot-password-page {


min-height: 100vh;

display: flex;

align-items: center;

background:
    linear-gradient(
        135deg,
        #edf5ff,
        #ffffff
    );


}

.forgot-password-card {

border: none;

border-radius: 22px;

box-shadow:
    0 15px 45px
    rgba(21, 101, 192, 0.15);

}

.forgot-password-card .card-body {


padding: 45px;

text-align: center;


}

.forgot-icon {


width: 75px;

height: 75px;

display: flex;

align-items: center;

justify-content: center;

margin: auto;

margin-bottom: 20px;

border-radius: 50%;

background: #eaf3ff;

font-size: 34px;


}

.forgot-password-card h2 {


color: #123b6d;

font-weight: 800;

margin-bottom: 12px;

}

.forgot-password-card p {


color: #6c757d;

line-height: 1.7;

margin-bottom: 28px;


}

.forgot-password-card label {


display: block;

text-align: left;

font-weight: 650;

margin-bottom: 8px;


}

.forgot-password-card input {


padding: 13px;

border-radius: 10px;


}

.forgot-btn {


width: 100%;

margin-top: 25px;

padding: 13px;

border: none;

border-radius: 10px;

background: #1565c0;

font-weight: 700;


}

.forgot-btn:hover {


background: #0d47a1;


}
