.wishlist-card{

border:none;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

padding:15px;

}

.wishlist-card:hover{

transform:translateY(-8px);

box-shadow:0 18px 40px rgba(0,0,0,.15);

}