.product-card{

    border:none;

    border-radius:20px;

    overflow:hidden;

    transition:.35s;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.product-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.image-box{

    height:240px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#f8f9fa;

}

.product-image{

    width:85%;

    height:200px;

    object-fit:contain;

}

.brand{

    color:#1565C0;

    font-weight:600;

}

.product-name{

    margin-top:8px;

    font-weight:700;

    min-height:52px;

}

.price{

    color:#FFC107;

    font-weight:800;

}

.stock{

    color:#555;

}

.stock span{

    color:#198754;

    font-weight:700;

}

.action-buttons{

    display:flex;

    justify-content:space-between;

    margin-top:20px;

}

.cart-btn{

    background:#1565C0;

    border:none;

}

.view-btn{

    background:#FFC107;

    color:black;

    border:none;

}

.wish-btn{

    background:#dc3545;

    border:none;

}